@import "~common/global.styl"
.wrap
  width 100%
  color #A2A2A2
  font-size 14px
  padding 20px 10px
  border 1px solid $border-color
  a
    text-decoration none

.header
  position relative
  line-height 30px

.title
  color #DD2525
  font-size 18px

.more
  color #999
  position absolute
  right 0
  font-size 12px

.list
  line-height 2.5
