@import "~common/global.styl"
@import "~common/mixins.styl"

.wrap
  font-size $font-size
  clearfix()

.left
  float left

.right
  overflow hidden

.sidebar
  width 235px

.slider
  width 700px
  margin-right 10px

.block
  margin-top 10px
