.wrap
  width 100%
  background #3B3C3E
  color #A2A2A2
  font-size 12px
  ul
    display table
    table-layout fixed
    width 100%
  li
    font-size 14px
    display table-cell
    background #F6F6F6
    height 150px
    border-left 10px solid #fff
    text-align center
    &:first-child
      border-left none
